@model ABM_TP.Models.ColorModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Estas seguro que queres eliminarlo?</h3>
<div>
    <h4>Color:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hexa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hexa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver al inicio", "Index")
        </div>
    }
</div>
